#### Assignment #2.1<br>Hotaling, Michael <br>2020-09-07

#### Display the text `“Hello World! I wonder why that is always the default coding text to start with”`

In [1]:
print("Hello World! I wonder why that is always the default coding text to start with")

Hello World! I wonder why that is always the default coding text to start with

#### Add two numbers together

In [2]:
20 + 9

29

#### Subtract a number from another number

In [3]:
60 - 18

42

#### Multiply two numbers

In [4]:
1111 * 1111

1234321

#### Divide between two numbers

In [5]:
 22 / 7

3.142857142857143

#### Concatenate two strings together (any words)

In [7]:
"fizz" + "buzz"

'fizzbuzz'

#### Create a `list` of 4 items (can be strings, numbers, both)

In [13]:
my_list = [True, 2, "Three", 4.0]
print(my_list)
print(type(my_list))

[True, 2, 'Three', 4.0]
<class 'list'>

#### Append an item to your list (again, can be a string, number)

In [14]:
my_list.append("V")
print(my_list)

[True, 2, 'Three', 4.0, 'V']

#### Create a `tuple` with 4 items (can be strings, numbers, both)

In [19]:
my_tup = ("tuple", "with", 4, "items")
print(my_tup)
print(type(my_tup))

('tuple', 'with', 4, 'items')
<class 'tuple'>